<%- include("header"); %>
<div class=".container-lg m5">
  <div class="card-body log">
    <h5 class="card-title "><b><%= post.title %></b></h5>
    <p class="card-text"><%= post.content %></p>
  </div>
</div>

<!-- <div class="container-lg m5">
    <div class="card-body log">
      <h5 class="card-title"><b> 
        <%= post.title %>
    </b>
      </h5>
      <p class="card-text">
       <%= post.content %></p>
    </div>
</div> -->

<%-include("footer"); %>

